<?xml version="1.0" ?>
<model>
    <name>my_robot_v2</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Michal Labowski</name>
        <email>michal.labowski@gmail.com</email>
    </author>
    <description>
    A simple two-wheeled robot with ball created for project #1 for Udacity Rotitics Nanodegree
    </description>
</model>
